<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head">
</head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div th:replace="fragments.html :: together-info"></div>
    <div th:replace="fragments.html :: together-menu (settings)"></div>
    <form th:if="${!together.useBanner}" th:action="@{'/together/' + ${together.getPath()} + '/settings/banner/enable'}" method="post" novalidate>
        <div class="alert alert-primary" role="alert">
            투게더 상단에 이미지 파일을 이용한 배너를 사용합니다.
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary btn-block" type="submit" aria-describedby="submitHelp">배너 이미지 사용하기</button>
        </div>
    </form>
    <form th:if="${together.useBanner}" th:action="@{'/together/' + ${together.getPath()} + '/settings/banner/disable'}" method="post" novalidate>
        <div class="alert alert-info" role="alert">
            투게더 상단에 배너를 올리지 않습니다. 배너가 없어지는것은 아니며 검색 시에 노출되는 투게더 정보에 이용됩니다.
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary btn-block" type="submit" aria-describedby="submitHelp">배너 이미지 사용하지 않기</button>
        </div>
    </form>
    <form th:if="${!together.published && !together.closed}" th:action="@{'/together/' + ${together.getPath()} + '/settings/publish'}" method="post" novalidate>
        <div class="alert alert-info mt-3" role="alert">
            투게더를 다른 사용자에게 공개할 준비가 되었다면 버튼을 클릭하세요.<br/>
            소개, 배너 이미지, 투게더 주제 및 활동 지역을 전부 등록하셨나요? 공개하는 순간 다시 비공개로 돌릴 수 없습니다.<br/>
            투게더를 공개하면 해당 투게더가 등재한 활동 지역과 주제에 대해 관심 등록을 한 유저들에게 알림이 전송됩니다.
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">투게더 공개</button>
        </div>
    </form>
    <form th:if="${together.published && !together.closed}" th:action="@{'/together/' + ${together.getPath()} + '/settings/close'}" method="post" novalidate>
        <div class="alert alert-warning mt-3" role="alert">
            해당 투게더의 목적을 달성했다면 투게더를 종료하세요.<br/>
            투게더를 종료하면 더 이상 멤버를 모집하거나 모임을 만들 수 없으며, 투게더 경로와 이름을 수정할 수 없습니다.<br/>
            종료된 투게더는 1주일뒤에 자동으로 삭제되며 복원하실 수 없습니다.
        </div>
        <div class="form-group">
            <button class="btn btn-outline-warning" type="submit" aria-describedby="submitHelp">투게더 종료</button>
        </div>
    </form>
    <div class="dropdown-divider"></div>
    <div class="mt-5">
        <div class="row">
            <h2 class="col-sm-12" >주제</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info" role="alert">해당 투게더는 어떤 주제로 만들어졌나요?</div>
                <div id="tagwhitelist" th:text="${tagWhiteList}" hidden></div>
                <input id="tags" type="text" name="tags" class="tagify--outside" placeholder="주제 설정"
                       th:value="${#strings.listJoin(tags,',')}" aria-describedby="tagHelp">
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row">
            <h2 class="col-sm-12" >활동 지역</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info" role="alert">해당 투게더가 활동할 지역은 어디인가요?</div>
                <div id="zonewhitelist" th:text="${zoneWhiteList}" hidden></div>
                <input id="zones" type="text" name="zones" class="tagify--outside"
                       th:value="${#strings.listJoin(zones,',')}" aria-describedby="zonesHelp">
            </div>
        </div>
    </div>
</div>
<div
<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: csrf"></script>
<div th:replace="fragments.html :: update-tags (baseUrl='/together/'+${together.getPath()} + '/settings')"></div>
<div th:replace="fragments.html :: update-zones (baseUrl='/together/'+${together.getPath()} + '/settings')"></div>
</body>
</html>