<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head">
</head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div th:replace="fragments.html :: together-info"></div>
    <div th:replace="fragments.html :: together-menu (board)"></div>
    <div class="py-5 text-center">
        <h2>글 작성</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-10" th:action="@{'/together/' + ${together.path} + '/board/create'}" th:object="${postForm}" method="post" novalidate>
            <div class="form-group mt-2">
                <label for="title">제목</label>
                <input id="title" type="text" th:field="*{title}" class="form-control" required max="20">
                <small class="invalid-feedback">글 제목을 입력해주세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
            </div>
            <div class="form-group mt-2">
                <label for="togetherType" class="form-label">투게더의 형식</label>
                <p>
                    <select id="togetherType" th:field="*{postType}">
                        <option th:each="type : ${T(com.example.projectgachihaja.Post.PostType).values()}"
                                th:value="${type}"
                                th:text="${type.getKrName()}">
                        </option>
                    </select>
                </p>
            </div>
            <div class="form-group mt-2">
                <label for="longIntroduce">내용</label>
                <textarea id="longIntroduce" type="text" th:field="*{content}" class="form-control" required></textarea>
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-primary btn-block text-center" type="submit"
                        aria-describedby="submitHelp">글 작성</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: editior-script"></div>
</body>
</html>