<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body>
<header th:replace="fragments.html :: header"></header>
<div>
    <div class="row mt-5 justify-content-center">
        <div class="col-4">
            <h2 class="display-5 fw-normal" th:text="'함께 하게 되어 영광입니다, '+${account.nickname} + '님!'"></h2>
            <small>초기 설정을 마지막으로 회원가입 절차가 종료됩니다.</small>
            <form class="row" th:action="@{'/initial-setting'}" th:object="${settingsForm}" method="post" novalidate>
                <div class="col-9">
                    <label for="nickname">닉네임 변경</label>
                    <input id="nickname" type="text" th:field="*{nickname}" class="form-control" aria-describedby="nicknameHelp" required maxlength="30">
                    <small id="nicknameHelp" class="form-text text-muted">
                        닉네임은 언제든지 다시 변경할 수 있습니다.
                    </small>
                    <div class="form-group mt-1">
                        <label for="introduce">자기 소개</label>
                        <input id="introduce" type="text" th:field="*{introduce}" class="form-control"
                               placeholder="자기 소개" aria-describedby="introduceHelp" required maxlength="30">
                        <small id="introduceHelp" class="form-text text-muted">
                            짧게 자신을 소개해보세요.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('introduce')}" th:errors="*{introduce}"></small>
                    </div>
                    <div class="form-group mt-1">
                        <label for="job">직업</label>
                        <input id="job" type="text" th:field="*{job}" class="form-control"
                               placeholder="ex)개발자" aria-describedby="jobHelp" required>
                        <small id="jobHelp" class="form-text text-muted">
                            자신의 직업 혹은 희망직업을 적어주세요
                        </small>
                    </div>
                    <div class="form-group mt-1">
                        <label for="location">활동 지역</label>
                        <input id="location" type="text" th:field="*{location}" class="form-control"
                               placeholder="서울" aria-describedby="locationHelp" required>
                        <small id="locationHelp" class="form-text text-muted">
                            자신이 주거하고 있거나 주로 활동하고 있는 지역을 적어주세요.
                        </small>
                    </div>
                    <div class="form-group">
                        <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control"/>
                    </div>
                    <div class="dropdown-divider mt-1"></div>
                    <h1>태그 설정</h1>
                    <small>태그를 통해 여러 투게더들을 추천해드립니다!</small>
                    <div class="row">
                        <h2 class="col-sm-12" >관심 분야</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-info" role="alert">같이 하고 싶은 분야가 있으신가요?</div>
                            <div id="tagwhitelist" th:text="${tagWhiteList}" hidden></div>
                            <input id="tags" type="text" name="tags" class="tagify--outside" placeholder="주제 설정"
                                   th:value="${#strings.listJoin(tags,',')}" aria-describedby="tagHelp">
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <h2 class="col-sm-12" >활동 지역</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-info" role="alert">우리가 같이 하려면 어디로 가야할까요?</div>
                            <div id="zonewhitelist" th:text="${zoneWhiteList}" hidden></div>
                            <input id="zones" type="text" name="zones" class="tagify--outside"
                                   th:value="${#strings.listJoin(zones,',')}" aria-describedby="zonesHelp">
                        </div>
                    </div>
                    <div class="form-group mt-1">
                        <button class="btn btn-primary btn-block" type="submit" aria-describedby="summitHelp">설정 완료</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-auto d-none d-lg-block">
            <h1 class="mb-0">프로필 이미지 수정</h1>
            <div class="card text-center">
                <div class="card-header">
                    프로필 이미지
                </div>
                <div id="current-profile-image" class="mt-3">
                    <svg th:if="${#strings.isEmpty(settingsForm.profileImage)}" class="rounded"
                         th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
                    <img th:if="${!#strings.isEmpty(settingsForm.profileImage)}" class="rounded"
                         th:src="${settingsForm.profileImage}"
                         width="125" height="125" alt="name" th:alt="${account.nickname}"/>
                </div>
                <div id="new-profile-image" class="mt-3"></div>
                <div class="card-body">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="profile-image-file">
                        <label class="custom-file-label" for="profile-image-file">프로필 이미지 설정</label>
                    </div>
                    <div id="new-profile-image-control" class="mt-3">
                        <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                        <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                        <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                    </div>
                    <div id="cropped-new-profile-image" class="mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html :: footer"></div>
<link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    $(function (){
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newProfileImage = $("#new-profile-image");
        let $currentProfileImage = $("#current-profile-image");
        let $resultImage = $("#cropped-new-profile-image");
        let $profileImage = $("#profileImage");

        $newProfileImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();

        $("#profile-image-file").change(function(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if (!e.target.result.startsWith("data:image")) {
                            alert("이미지 파일을 선택하세요.");
                            return;
                        }
                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.setAttribute('width', '100%');

                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 1});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $confirmBtn.hide();
                        $resetBtn.show();
                    }
                };
                reader.readAsDataURL(e.target.files[0]);
            }

            $resetBtn.click(function() {
                $currentProfileImage.show();
                $newProfileImage.hide();
                $resultImage.hide();
                $resetBtn.hide();
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val('');
            });

            $cutBtn.click(function () {
                let dataUrl = cropper.getCroppedCanvas().toDataURL();

                if (dataUrl.length > 1000 * 1024) {
                    alert("이미지 파일이 너무 큽니다. 1024000 보다 작은 파일을 사용하세요. 현재 이미지 사이즈 " + dataUrl.length);
                    return;
                }

                let newImage = document.createElement("img");
                newImage.id = "cropped-new-profile-image";
                newImage.src = dataUrl;
                newImage.width = 125;
                $resultImage.html(newImage);
                $resultImage.show();
                $confirmBtn.show();

                $confirmBtn.click(function () {
                    $newProfileImage.html(newImage);
                    $cutBtn.hide();
                    $confirmBtn.hide();
                    $profileImage.val(dataUrl);
                });
            });
        });
    });
</script>
<div th:replace="fragments.html :: update-tags (baseUrl='/settings/'+${account.getNickname()})"></div>
<div th:replace="fragments.html :: update-zones (baseUrl='/settings/'+${account.getNickname()})"></div>
</body>
</html>