<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head">
</head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div class="position-relative overflow-hidden m-md-3 text-center">
        <div class="col-md-12 mx-auto my-5">
            <h1 class="display-3 fw-normal" th:text="'잘못된 요청입니다'"></h1>
            <p class="lead fw-normal">모임 웹 서비스 가치하자</p>
            <a class="btn btn-outline-dark" href="javascript:history.back()">돌아가기</a>
        </div>
    </div>
</div>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>