<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head">
</head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div th:replace="fragments.html :: together-info"></div>
    <div th:replace="fragments.html :: together-menu (schedule)"></div>
    <form class="justify-content-center needs-validation" th:action="@{'/together/' + ${together.path} + '/schedule/create'}" th:object="${scheduleForm}" method="post" novalidate>
        <div class="form-group">
            <label for="title" class="h4 mt-3">일정 이름</label>
            <input id="title" type="text" th:field="*{title}" class="form-control"
                   placeholder="일정 이름" aria-describedby="titleHelp" required>
            <small id="titleHelp" class="form-text text-muted">
                일정 이름을 50자 이내로 입력하세요.
            </small>
            <small class="invalid-feedback">일정 이름을 입력하세요.</small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</small>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="limitOfEnrollments" class="h4 mt-3">모집 인원</label>
                <input id="limitOfEnrollments" type="number" th:field="*{maxMember}" class="form-control" placeholder="0"
                       aria-describedby="limitOfEnrollmentsHelp">
                <small id="limitOfEnrollmentsHelp" class="form-text text-muted">
                    최대 수용 가능한 일정 참석 인원을 설정하세요. 최소 2인 이상 일정이어야 합니다.
                </small>
                <small class="invalid-feedback">일정 신청 마감 일시를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('maxMember')}" th:errors="*{maxMember}">Error</small>
                <div class="form-row">
            <div class="form-group col-md-12">
                <label for="startDate" class="h4 mt-3">일정 시작 일시</label>
                <input id="startDate" type="datetime-local" th:field="*{start}" class="form-control"
                       aria-describedby="startDateHelp" required>
                <small id="startDateHelp" class="form-text text-muted">
                    일정 시작 일시를 입력하세요. 상세한 일정 일정은 본문에 적어주세요.
                </small>
                <small class="invalid-feedback">일정 시작 일시를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('start')}" th:errors="*{start}">Error</small>
            </div>
            <div class="form-group col-md-12">
                <label for="endDate" class="h4 mt-3">일정 종료 일시</label>
                <input id="endDate" type="datetime-local" th:field="*{end}" class="form-control"
                       aria-describedby="endDateHelp" required>
                <small id="endDateHelp" class="form-text text-muted">
                    일정 종료 일시가 지나면 일정은 자동으로 종료 상태로 바뀝니다.
                </small>
                <small class="invalid-feedback">일정 종료 일시를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('end')}" th:errors="*{end}">Error</small>
            </div>
                </div>
        </div>
        <div class="form-group">
            <label for="introduce" class="h4 mt-3">일정 설명</label>
            <textarea id="introduce" type="textarea" th:field="*{introduce}" class="editor form-control"
                      placeholder="일정을 자세히 설명해 주세요." aria-describedby="introduceHelp" required></textarea>
            <small id="introduceHelp" class="form-text text-muted">
                일정에서 다루는 주제, 장소, 진행 방식 등을 자세히 적어 주세요.
            </small>
            <small class="invalid-feedback">일정 설명을 입력하세요.</small>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('introduce')}" th:errors="*{introduce}">Error</small>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit"
                    aria-describedby="submitHelp" th:text="${'일정 만들기'}"></button>
        </div>
    </form>
</div>
</div>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>