<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head">
</head>
<body>
<header th:replace="fragments.html :: header"></header>
<div class="container">
    <div th:replace="fragments.html :: together-info"></div>
    <div th:replace="fragments.html :: together-menu (schedule)"></div>
    <div th:if="${permission_error}" class="alert alert-danger text-center col-sm-6" role="alert" th:text="${permission_error}"></div>
    <div id='calendar' style="background-color: white"></div>
</div>
<div th:replace="fragments.html :: footer"></div>
<script src="/node_modules/moment/moment.js"></script>
<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var url = document.location.href;

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'ko',
            allDaySlot: false,
            eventLimit: true,
            contentHeight: 'auto',
            eventSources: [{
                events: function(info, successCallback, failureCallback) {
                    $.ajax({
                        url: url+'/load',
                        method: "GET",
                        dataType: 'json',
                        success: function(data) {
                            successCallback(data);
                        }
                    });
                }
            }]
            , eventClick:function(info) {
                var base_url = window.location.pathname + "/" + info.event.id
                location.replace(base_url);
            }
        });
        calendar.render();
        calendar.on('dateClick', function(info) {
            var date = moment(info.dateStr).format('YYYY-MM-DD')
            var now = moment().format('YYYY-MM-DD')
            if(now <= date) {
                var base_url = window.location.pathname + "/create?startDate=" +info.dateStr
                location.replace(base_url);
            }
        });
    });

</script>
</body>
</html>

